section.section-about.py-5
    .container.container-about
        .row
            .col-lg-6.col-sm-12.container-about-img
                img(src='./assets/images/about.jpg' alt='aboutUs')
            .col-lg-6.col-sm-10.pl-lg-5.container-about-content
                h4.about-title The Largest Business Expert!
                p.about-content
                    | Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .about-icon
                    .about-sticker
                        i.fas.fa-donate
                        .about-sticker-content 
                            h4 Extra benefit through Invest
                            p Sed ut perspiciatis unde omnis iste natus error sit accusantium
                    .about-sticker
                        i.fab.fa-asymmetrik
                        .about-sticker-content
                            h4 Expand profit and reduce Tax
                            p Sed ut perspiciatis unde omnis iste natus error sit accusantium
    //-  brand
    .container
        .brand-list 
            .row.pt-2
                +brand("./assets/images/logo1 (1).png")
                +brand("./assets/images/logo1.png")
                +brand("./assets/images/logo2.png")
                +brand("./assets/images/logo3.png")
                +brand("./assets/images/logo4.png")
                +brand("./assets/images/logo5.png")