section.background 
    .layer 
        video#my-video.img-fluid(autoplay muted loop) 
            source(src="./assets/images/video.mp4", type="video/mp4")    
        .main-content 
            .container 
                .main-title 
                    h4 We Execute Our Ideas From Start to Finish 
                    p Irferendis repudandae fugia rchitecto beatae rederit svitae recusa ndae debitifacere uiimi placeat maxienui 
                    a.btn-main(href="#") Read more