section.section-banner.py-5 
    .container.py-5
        .banner-content
            h3.header-title The Best Choice For Your Successful Business!
            p.text-white.py-3 Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel.
            a.btn-main(href="#") Get free quote