section.section-creative.py-5 
    .container 
        +title("Our Teammates", "Our Creative Team", "Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque, eaque ipsa quae ab illo inventore.Sed ut perspiciatis unde omnis iste natus error sit.")
        .row.pt-5 
            +creative("./assets/images/team1.jpg", "Olive Yew","Web Developer")
            +creative("./assets/images/team2.jpg", "Aida Joe", "Marketing Head")
            +creative("./assets/images/team3.jpg", "Teri Dac", "Sales Manager")
            +creative("./assets/images/team4.jpg", "Anton Bne", "Event Organizer")