footer.footer.py-5
    .container 
        .row 
            .col-lg-4.col-sm-12.pb-5
                h4 About
                p.py-3 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.
                ul.footer-icon
                    li
                        a(href="#")
                            i.fab.fa-facebook
                    li
                        a(href="#")
                            i.fab.fa-linkedin-in
                    li
                        a(href="#")
                            i.fab.fa-twitter
                    li
                        a(href="#")
                            i.fab.fa-google-plus-g
                    li
                        a(href="#")
                            i.fab.fa-instagram
            .col-lg-3
                +footer("our services", "Website Designing", "Web Hosting", "Digital Photography", "Photoshop to HTML")
            .col-lg-2
                +footer("quick links", "Home", "About", "Blog Posts", "Contact")
            .col-lg-3
                +footer("help & support", "Live chart", "Faq", "Support", "Terms of services")
        .row.mt-5 
            .col-lg-4.footer-info-item
                i.fas.fa-envelope-open
                .footer-info
                    a(href="#") info@example.com
                    p Drop Us a Line
            .col-lg-4.footer-info-item
                i.fas.fa-phone-alt
                .footer-info
                    a(href="#") +44-000-888-999
                    p Call Us Now
            .col-lg-4.footer-info-item
                i.fas.fa-map-marker-alt
                .footer-info
                    a(href="#") London, 235 Terry
                    p Get Direction
        .row 
            .col-lg-12.text-center.mt-5 
                p @2021 Execution. All rights reserved. Design by W3Layouts