section.section-news.py-5 
    .container.py-5 
        +title("Our News & Articles", "Latest Blog Posts", "Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque, eaque ipsa quae ab illo inventore.Sed ut perspiciatis unde omnis iste natus error sit.")
        .row 
            +news("./assets/images/blog3.jpg","Why a visual identity system is more memorable", "Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit.", "March 06, 2021")
            +news("./assets/images/blog6.jpg","Make website that surpasses amongst all the", "Lorem ipsum dolor sit amet consectetur ipsum adipisicing elit.", "March 26, 2021")
