section.section-services.py-5 
    .container 
        +title("Web Services", "Our Best Services", "Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque, eaque ipsa quae ab illo inventore.Sed ut perspiciatis unde omnis iste natus error sit.")
        .row 
            +services("./assets/images/s2.jpg","Work","Website Designing")
            +services("./assets/images/s4.jpg","Business","Mobile Applications")
            +services("./assets/images/s5.jpg","Corporate","Digital Marketing")