$color-primary: #ffc845;
$bg-dark: #171717;
$text-white: #fdfffc;
$text-secondary: #b7b7b7;
$bg-dark-two: #0c0b0b;
$color-icon: #d83030;
$bg-header:  rgba(51, 51, 51, 0.32);
$border: rgba(255, 255, 255, 0.2);
$bg-footer: #252628;