.section-creative{
	@extend .section-services;
	.creative-item {
		position: relative;
		background-color: $bg-dark;
		border-radius: 8px;
		overflow-y: hidden;
		&:hover  .creative-info{
			top: 61%;
			opacity: 1;
			transition: all 0.5s;
		}
		img{
			overflow: hidden;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		.creative-content{
			text-align: center;
			padding: 20px 0;
			a{
				@include font(1.4rem,500);
				color: $text-white;
				text-decoration: none;
				&:hover{
					color: $color-icon;
					transition: all 0.5s;
				}
			}
		}
		.creative-info{
			position: absolute;
			top: 74%;
			left: 0%;
			background-color: rgba(51, 51, 51, 0.32);
			width: 100%;
			padding: 14px 16px;
			overflow-y: hidden;
			opacity: 0;
			z-index: 1;
			@include flexBox(center);
			.creative-info-icon {
				a{
					display: inline-block;
					font-size: 1rem;
					margin: 0 12px;
					background-color: $text-white;
					border-radius: 50%;
					color: $color-icon;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					&:hover{
						opacity: 0.8;
					}
				}
			}
		}
	}
}